.containEr {
    margin: 0 2em;
}

#header {
    background-color: lightblue;
}

.logoPlace {
    display: flex;
    justify-content: center;
}

.statusFill {
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.statusColor {
    height: 15px;
    width: 15px;
    margin: -3px 3px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    transition: transform .2s;
    cursor: pointer;
}

.statusColor:hover {
    transform: scale(1.5);
}

#iLogo {
    border-radius: 20%;
    width: 25%;
}

#status {
    justify-content: flex-end;
}


.nav-link:hover {
    background-color: #dadada;
}